<div id="faqs">
    <h1>Frequently Asked Questions:</h1>
    {% for faq in site.faqs %}
        <button class="accordion">
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-{{ faq.fontawesome_icon_name }} fa-stack-1x"></i>
            </span>
            {{ faq.title }}
        </button>
        <div class="panel">
            {% for paragraph in faq.description %}
                <p>
                    {% if forloop.index0 == 0 %}<b> {% endif %}
                        {{ paragraph }}
                    {% if forloop.index0 == 0 %}</b> {% endif %}
                </p>
            {% endfor %}
        </div>
    {% endfor %}
</div>
