.imageWrapper {					// Sets the background image in the header area
	height: 714px;
	background: 
		linear-gradient(
		rgba($image-overlay-color, $image-overlay-transparency), 
		rgba($image-overlay-color, $image-overlay-transparency)
		   ),
		
		url($header-image);

	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	border-radius: 0px 0px 40px 40px;

}

.imageWrapper a {
  color: #e6d1ff;
}

.headerBackground {
    height: 100%;
	background-color: rgba($header-color, $header-transparency);
}

.subPageHeaderBackground {
	background-color: #fff;
}

.container {					// Set up the container for the site content
	display: grid;
	margin: auto;
	max-width: $content-width;
	padding-left: 15px;
	padding-right: 15px;
}

.subPageContainer {
	grid-template-rows: 115px auto auto auto;
	background-color: #fff;
}

.page {
	margin-top: 30px;
	margin-bottom: 70px;
}

@media only screen and (max-width: 768px) {

	.page {
		margin-top: 30px;
		margin-bottom: 70px;
		grid-column: 1/-1;
	}
	
} 

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 115px;
	margin-right: 30px;
}

.logoText{
	color: $header-title-color;
	white-space: nowrap;
	display: flex;
	font-weight: bold;
	margin-left: 15px;
}

@media only screen and (max-width: 768px) {

	.logo {
		height: 80px;
		margin-right: 0px;
	}

  .logoText {
		display: none;
	}
	
} 

.headerIcon {
	width: 50px;
	height: 50px;
	-webkit-clip-path: url(#shape);
	clip-path: url(#shape);
}

@media only screen and (max-width: 768px) {

	.divider {
		position: relative;
		min-width: 1px;
		max-width: 1px;
		background-color:rgba(127, 127, 127, 0.2);
		display: inline-block;
		margin-left: 15px;
	}	
	
} 


// Navigation Links
.header {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: rgba(0,0,0,0.1);
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  margin-top: auto;
  margin-bottom: auto;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  margin-top: 10px;
}

.header .menu-icon .navicon {
  background-color: $main-text-color;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background-color: $main-text-color;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.header li a {
  color: rgba(255,255,255,.6);
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 5px 15px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}



// App Title, Price, Description and Links

.appIconShadow {
	display: flex;
	filter: $drop-shadow;
}

.appIconLarge {
	width: 120px;
	height: 120px;
	-webkit-clip-path: url(#shape120);
	clip-path: url(#shape120);
}

.appNamePriceContainer {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	margin-left: 30px;
}

@media only screen and (max-width: 768px) {

	.appNamePriceContainer {
		width: 100%;
		margin-left: 0px;
		align-items: center;
		justify-content: center;
	}

	.appName {
		margin-top: 30px;
		text-align: center;
	}
	
	.appPrice {
		margin-top: 13px;
		text-align: center;
	}
	
} 

.appDescriptionContainer {
	font-size: 2.5rem;
	font-weight: normal;
	width: 100%;
	align-items: flex-start;
	margin-top: 45px;
	flex: 0 1 auto;
	line-height: 1.5;
    text-align: left;
}

.appDescription {
    margin-top: 15px;
    margin-bottom: 15px;
	color: $main-text-color;
}

@media only screen and (max-width: 992px) {

	.appDescription {
		text-align: center;
	}
	
} 

.downloadButtonsContainer {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
	filter: $drop-shadow;
}

@media only screen and (max-width: 992px) {

	.downloadButtonsContainer {
		text-align: center;
	}
	
} 

.playStore {
	height: 75px;
	margin-right: 24px;
}

@media only screen and (max-width: 992px) {

	.playStore {
		margin-right: 24px;
		margin-bottom: 0px;
	}
	
} 

@media only screen and (max-width: 528px) {

	.playStore {
		margin-right: 0px;
		margin-bottom: 24px;
	}
	
} 

.appStore {
	height: 75px;
}


// iPhone Device Preview

.iphonePreview {
	background-image: url($device-color);
	background-size: 400px auto;
	background-repeat: no-repeat;
    width: 400px;
    height: 850px;
    padding-top: 1px; // something weird happens with 0 padding: 1px shifts down like 15px
}

.iphoneScreen {
	width: 349px;
	-webkit-clip-path: url(#screenMask);
	clip-path: url(#screenMask);
	margin-left: 26px;
	margin-top: 23px;
}

.videoContainer {
	width: 349px;
	height: 755px;
	-webkit-clip-path: url(#screenMask);
	clip-path: url(#screenMask);
	margin-left: 26px;
	margin-top: 23px;
}

.videoContainer > video {
	width: 349px;
	height: 755px;
}

@media only screen and (max-width: 1070px) {

	.iphonePreview {
		background-size: 370px auto;
        width: 370px;
        height: 786px;
	}

	.iphoneScreen {
		width: 322px;
		margin-left: 24px;
		margin-top: 22px;
	}

	.videoContainer {
		width: 322px;
		height: 698px;
		margin-left: 24px;
		margin-top: 22px;
	}
	
	.videoContainer > video {
		width: 322px;
		height: 698px;
	}
	
} 

@media only screen and (max-width: 992px) {
	.iphonePreview {
		display: flex;
		background-size: 260px auto;
		background-position: center 0;
		margin-top: 47px;
		justify-content: center;
		padding-bottom: 75px;
        width: 260px;
        height: 552px;
	}

	.iphoneScreen {
		width: 226px;
		height: 488px;
		-webkit-clip-path: url(#screenMask);
		clip-path: url(#screenMask);
		margin: 0px;
		margin-top: 17px;
	}

	.videoContainer {
		width: 226px;
		height: 488px;
		margin-left: 0px;
		margin-top: 17px;
	}

	.videoContainer > video {
		width: 226px;
		height: 488px;
	}
}

/*** Main preview grid: the first thing they see on landing page ***/
.previewgrid {
  display: grid;
  margin-top: 90px;
  margin-bottom: 20px;
  grid-template-areas:
    'phone maininfo'
    'phone secondaryinfo'
    'phone stretchspace';
  column-gap: 30px;
}
.previewgrid-phone {
  grid-area: phone;
  margin-left: auto;
  margin-right: auto;
}
.previewgrid-maininfo {
  align-self: start;
  grid-area: maininfo;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.previewgrid-secondaryinfo {
  align-self: start;
  grid-area: secondaryinfo;
}
.previewgrid-stretchspace {
  grid-area: stretchspace;
  height: 250px;
}
@media only screen and (max-width: 992px) {
    .previewgrid {
      margin-top: 0px;
      grid-template-areas:
        'maininfo'
        'phone'
        'secondaryinfo'
        'stretchspace';
    }
    .previewgrid maininfo {
      padding-top: 0px;
    }
    .previewgrid-stretchspace {
      display: none;
    }
}
/*** end main preview grid ***/

/*** Sections: below the main preview ***/
.section {
	display: grid;
	margin-top: 93px;
    padding: 40px;
    color: $main-text-color;
    line-height: 1.7em;

    column-gap: 30px;
}

.section h1 {
    font-size: 2em;
    margin-bottom: .75em;
}

.section-leftimage {
  grid-template-areas:
    'photo header'
    'photo info'
}
.section-rightimage {
  grid-template-areas:
    'header photo'
    'info photo'
}

.section p{
    margin-top: 20px;
}

.section img, .section video {
  border:2px solid #fff;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 5px 5px 5px #3f3f3f;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
}

.section-photo {
  grid-area: photo;
}
.section-info {
  grid-area: info;
  align-self: start;
}
.section-header {
  grid-area: header;
}
	
@media only screen and (max-width: 992px) {
  .section {
      margin-top: 50px;
      padding: 20px;
  }

    .section-leftimage {
      grid-template-areas:
        'header'
        'photo'
        'info'
    }
    .section-rightimage {
      grid-template-areas:
        'header'
        'photo'
        'info'
    }
}

/*** end sections ***/

.iconBack {
	color: $feature-icons-background-color;
}

.iconTop {
	color: $feature-icons-foreground-color;
}

.socialIconBack {
	color: $social-icons-background-color;
}

.socialIconTop {
	color: $social-icons-foreground-color;
}

// Footer

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footerText {
	color: $footer-text-color;
	display: block;
	line-height: 1.5;
	width: 100%;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
}

.footerIcons {
	padding-bottom: 70px;
	display: flex;
	flex: 0 0 100%;
	justify-content: center;
}

.footerLinks {
	display: flex;
	text-align: center;
	padding-bottom: 70px;
}

.footerLinks a {
	margin-right: 30px;
}

.footerLinks a:last-child {
	margin-right: 0px;
}


@media only screen and (max-width: 768px) {

	.footerLinks {
		flex-direction: column;
	}

	.footerLinks a {
		justify-content: stretch;
		margin-right: 0px;
		margin-top: 20px;
	}

	.footerLinks a:first-child {
		margin-top: 0px;
	}	

}

@media only screen and (max-width: 992px) {
	
	.footerText {
		color: $footer-text-color;
		display: block;
		line-height: 1.5;
		width: 100%;
		text-align: center;
		padding-top: 54px;
		padding-bottom: 61px;
	}
	
	.footerIcons {
		padding-bottom: 70px;
		display: flex;
	}
	
} 

.hidden {
	display: none;
}

#mc_embed_signup {
    background:#ffffff25;
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
    margin-top:30px;
    box-shadow: 5px 5px 5px black;
    color: #f7f7f7;
}
#mc_embed_signup .button {
    background-color: #000 !important;
}

.highlightedword {
    color: $highlighted-text-color;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 1em;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel p{
  padding: 20px 18px;
}
.panel p a {
  color: #6833a6;
}
.panel p a:hover {
  color: #6833a675;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 1em;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#faqs {
    margin-top: 30px;
}

#faqs h1 {
    margin-bottom: 10px;
    color: $main-text-color;
}
